# Ignore everything
*

# Unignore individual files
!.gitignore
!.bashrc
!.bash_profile

# Only un-ignore these exact folders inside .config
!.config
!.config/nvim/**
!.config/foot/**
!.config/waybar/**
!.config/hypr/**
!.config/rofi/**
