# Ignore everything
*

# Unignore individual files
!.gitignore
!.bashrc
!.bash_profile

# Only un-ignore these exact folders inside .config
!.config
!.config/nvim/**
!.config/kitty/**
!.config/waybar/**
!.config/hypr/**
!.config/wofi/**
