# Ignore everything by default
*

# Exclude all of the following from ignore list:

# Dotfiles
!.gitignore
!.bashrc
!.bash_profile

# Other files
!README.md
!install.sh

# .config specific directories
!.config
!.config/nvim/**
!.config/foot/**
!.config/waybar/**
!.config/waypaper/**
!.config/hypr/**
!.config/rofi/**
!.config/wallpapers/**

# Non dot-directories
!.bin/**
!.themes/**
